.afsl-container .afsl-info{width:100%;height:526px;background:url(../images/aboutfosunling-safe/about_fosunling01.jpg) no-repeat center center;}
.afsl-container .afsl-box-content{width:1010px;height:526px;padding:0 80px 0 90px;margin:0 auto;}
.afsl-info .afsl-box-content .afsl-info-p1{padding-top:75px;}
.afsl-info .afsl-box-content .afsl-info-p2{padding-top:40px;}
.afsl-info .afsl-box-content .afsl-info-p3{padding-top:55px;line-height:1.5;}
.afsl-info .afsl-box-content .afsl-info-p4{padding-top:45px;line-height:1.5;}
.afsl-container .afsl-xlicai{width:100%;height:500px;background:url(../images/aboutfosunling-safe/about_fosunling02.jpg) no-repeat center center;}
.afsl-container .afsl-xwelfare{width:100%;height:655px;background:url(../images/aboutfosunling-safe/about_fosunling03.jpg) no-repeat center center;}
.afsl-xwelfare .afsl-box-content{width:1060px;padding:0 30px 0 90px;}
.afsl-xwelfare .afsl-box-content .afsl-width{padding-top:70px;}
.afsl-container .afsl-xenjoy{width:100%;height:758px;background:url(../images/aboutfosunling-safe/about_fosunling04.jpg) no-repeat center center;}
.afsl-xenjoy .afsl-box-content .afsl-width{padding-top:175px;}
.afsl-xenjoy .afsl-box-content .afsl-width-btn{border:1px solid #fff;color:#fff;}
.afsl-xenjoy .afsl-box-content .afsl-width-btn:hover{background-color:#c93438!important;}
.afsl-container .afsl-corporate{width:100%;height:576px;background:url(../images/aboutfosunling-safe/about_fosunling05.jpg) no-repeat center center;}
.afsl-corporate .afsl-box-content{width:1050px;padding:0px 40px 0 90px;}
.afsl-corporate .afsl-box-content .afsl-width{padding-top:130px;}
.afsl-container .afsl-width{width:480px;}
.afsl-width .afsl-width-p1{padding-top:130px;}
.afsl-width .afsl-width-p2{padding:42px 0 50px 0;line-height:1.3;}
.afsl-width-btn{width:236px;height:60px;line-height:60px;color:#ef1719;font-size:30px;font-weight:100;}
