<div class="afsl-container">
	<div class="afsl-info">
		<div class="afsl-box-content">
		<p class="afsl-info-p1">星灵财富是复星集团旗下的投融资平台</p>
		<p class="afsl-info-p2">致力于为投资者带来健康、快乐、富足的生活！</p>
		<p class="afsl-info-p3">作为复星集团旗下的投融资平台，我们秉承了复星卓越的投资能力和产业整合能力。基于这些能力，我们可以在诸如地产、养老、医疗、娱乐、时尚等多个领域的产业链上筛选出各类金融资产和产品。</p>
		<p class="afsl-info-p4">我们的核心价值观是：以价值投资的理念为指导，以领先的风控和金融手段为保障，筛选出优质资产，通过提供完整准确的信息披露，为投资人提供多样的金融产品和最好的客户体验。</p>	
		</div>
	</div><!--afsl-info end-->
	<div class="afsl-xlicai">
		<div class="afsl-box-content clearfix">
			<div class="afsl-width" >
				<p class="afsl-width-p1">丰富的产品线，更多的选择</p>
				<p class="afsl-width-p2">星灵财富精选优质项目，产品期限从15天-365天不等，收益率最高可达到9%左右。部分产品还开放转让功能，并且星灵不对转让服务收取任何费用。</p>
				<a class="afsl-width-btn btn-nobg" href="/invest">立即体验</a>
			</div>
		</div>
	</div><!--afsl-xlicai end-->
	<div class="afsl-xwelfare">
		<div class="afsl-box-content clearfix">
			<div class="afsl-width" style="float: right;">
				<p class="afsl-width-p1">不一样的玩法，不一样的乐趣</p>
				<p class="afsl-width-p2">兑福利、换礼品、赢大奖，星灵给你带来星币的一百种玩法。每天签到还有额外神秘好礼相赠！</p>
				<a class="afsl-width-btn btn-nobg fr" href="/xingfuli/xwelfare">立即体验</a>
			</div>
		</div>
	</div><!--afsl-xwelfare end-->
	<div class="afsl-xenjoy">
		<div class="afsl-box-content txtc-fff clearfix">
			<div class="afsl-width">
				<p class="afsl-width-p1">VIP服务，投资理财也能高端定制</p>
				<p class="afsl-width-p2">资金量大，需要指定投资期限？星灵财富为您定制自己的专属理财产品，期限利率随心配。，并且星灵不对转让服务收取任何费用。</p>
				<a class="afsl-width-btn btn-nobg" href="/xzunxiang">立即体验</a>
			</div>
		</div>
	</div><!--afsl-xenjoy end-->
	<div class="afsl-corporate">
		<div class="afsl-box-content clearfix">
			<div class="afsl-width" style="float: right;">
				<p class="afsl-width-p1">盘活企业沉淀资金，您的首席财务官</p>
				<p class="afsl-width-p2">企业主，您的钱还躺在账户里“睡觉”吗？负利率时代，当心资金越放越贬值！星灵财富为您提供一站式企业金融服务。</p>
				<a class="afsl-width-btn btn-nobg fr" href="http://sys.fosunling.com/company/index.dhtml">立即体验</a>
			</div>
		</div>
	</div><!--afsl-corporate end-->
</div>