<div class="middle-approve">关于星之灵</div>
<div class="right-line"></div>
<div class="middle-details aboutus clearfix">
	<div style="width: 860px;">
		<p style="font-size: 20px; font-weight: 700;">上海星灵资产管理有限公司 </p>
		<p>办公地址：上海市徐汇区宜山路1289号（克隆科技园）B座6楼</p>
		<p> 推广合作： 021-34677443</p>
		<p>市场合作： fosunling@fosun.com</p>
		<p>客服电话：400-111-0198</p>
		<p>客服邮箱：fosunling.cs@fosun.com</p>
		<p>早09:00-晚18:00 （节假日除外）</p>
		<p>
			<a href="http://ditu.amap.com/place/B0FFG0MWXZ" target="_blank"><img src="../assets/images/aboutus/aboutus.png"  width="860"/></a>
		</p>
	</div>
</div>