<div class="middle-approve">关于星之灵</div>
<div class="right-line"></div>
<div class="middle-details aboutus">
	<div style="width: 860px;">
		<p><span style="font-size: 18px;font-weight: 700;">上海星灵资产管理有限公司 是复星集团旗下，</span>专注于打造具有产业深度的、多维生态圈特点的综合性互联网投融资信息中介平台（以下统称投融资平台）；以及为各种非标资产提供流动性的交易平台。</p>
		<p>我们的核心价值观是：以价值投资的理念为指导，以领先的风控和金融手段为保障，筛选出优质资产，通过提供完整准确的信息披露，为投资人提供多样的金融产品和最好的客户体验。</p>
		<p>我们的优势来自于以下几个方面：</p>
		<p>一、作为复星集团旗下的投融资平台，我们秉承了复星卓越的投资能力和产业整合能力。基于这些能力，我们可以在诸如地产、养老、医疗、娱乐、时尚等多个领域的产业链上筛选出各类金融资产和产品；</p>
		<p>二、复星已经形成了包括保险、证券、基金、租赁、保理、小贷等为基础的综合性金融集团。我们将结合各种业务的优势，在风控和产品结构设计上为投资人提供丰富、优选和灵活的产品；</p>
		<p>三、我们的团队具有丰富的国内外金融领域的工作经验，拥有行业中领先的产品设计能力，将为我们的客户提供专业尽职的服务；</p>
		<p>四、通过结合在多种产业的整合和通融，为客户实现包括理财、投资、保险、健康、医疗、娱乐等各种金融和非金融需求的一站式服务，完成账户的全面整合，形成综合性的生态系统。</p>
		<p>“天不在高，有星则灵”。我们星灵团队的每一个人都要做一个“有心人” - 时刻把风控至上，客户至上挂在心里。我们要做互联网金融浩渺星空中的一颗恒星，而不是一颗流星。</p>
		<p>
			<img src="../assets/images/aboutus/fosun_instr.png" alt="复星集团" />
		</p>
	</div>
</div>