<div class="middle-approve">加入我们</div>
<div class="right-line"></div>
<div class="middle-details aboutus" style="margin-top: 0px">
	<div style="width: 860px;">
		<p class="gi-pd-p">立即投递：<a href="mailto:zhouyu@fosun.com?subject=我的简历">zhouyu@fosun.com(Ms. Zhou)</a></p>
		<dl>
			<dt>一、产品经理（互联网）</dt>
			<dd>
				<p> 职位描述：</p>
				<p> 1、合理规划产品发展与功能设计，结合行业发展趋势，制定产品策略，找到产品的发展方向，协调推动产品功能实施；</p>
				<p> 2、调研、挖掘、分析用户需求，准确抽象出产品需求，合理判断需求的优先级，并维护产品需求池；</p>
				<p> 3、使用原型、流程图、PRD等方法将需求转化成可供需求方、设计和开发使用的文 档，并与各方沟通确认；</p>
				<p> 4、规划管理产品进度，推动产品的技术实现，把控产品实施质量和效率。</p>
				<p> 岗位要求：</p>
				<p> 1、统招本科及以上学历，3年以上互联网产品工作经验，有成功产品案例者优先；</p>
				<p> 2、具有较强的沟通能力，有团队合作精神，逻辑性强，擅长数据分析和需求调研， 具备一定的商业意识和行业知识；</p>
				<p> 3、具备良好的需求分析和产品设计能力，可以完成PRD等标准产品文档撰写；</p>
				<p> 4、做事积极主动，沟通协调良好，逻辑思维清晰，对工作认真负责，有较强责任心、执行力和抗压能力强。</p>
			</dd>
			<dt>二、产品总监（互联网）</dt>
			<dd>
				<p> 岗位描述：</p>
				<p>1、负责互联网金融平台产品的设计与开发；</p>
				<p>2、负责研究互联网的发展方向，制定互联网金融产品发展战略规划；</p>
				<p>3、负责互联网金融产品的前期市场调研、规划和设计，包括产品定位、功能规划、框架设计和交互流程等；输出产品需求文档；</p>
				<p>4、协调各方资源，把控项目开发周期，协助项目经理完成互联网金融产品的开发、测试、版本管理、评审发布、产品上线等相关工作；</p>
				<p> 5、善于发觉用户痛点，把握用户体验，通过数据分析，对产品进行迭代改进；</p>
				<p> 6、提供产品运营建议，跟进产品的市场效果、用户反馈，进行数据分析，持续改进产品，提高用户满意度。</p>
				<p> 任职要求：</p>
				<p> 1、本科及以上学历，金融、计算机等相关专业，五年以上互联网产品设计经验；</p>
				<p> 2、熟悉互联网产品设计理念及方法，了解技术特性和系统构架；</p>
				<p> 3、具有良好的产品文档撰写能力，熟悉互联网产品需求分析、用户体验及可用性研究，对互联网金融产品的交互流程和规划设计有深入了解；</p>
				<p> 4、精通产品原型设计工具，如Axure、Visio、思维导图等软件；</p>
				<p> 5、具有较强的项目管理能力，善于跨部门组织、沟通和协调；</p>
				<p> 6、有知名互联网公司经验者优先。</p>
			</dd>
			<dt>三、金融产品设计经理</dt>
			<dd>
				<p> 岗位描述：</p>
				<p> 1、调研客户需求和市场竞争形态,结合组织自身发展战略，提出金融产品规划设想，包括产品定义、功能设计及价格策略；</p>
				<p> 2、深入参与产品开发全流程，充分协调沟通内外资源，协作完成产品流程设立，撰写业务/流程文档；</p>
				<p> 3、负责产品生命周期管理，计划及绩效考核，信息反馈及产品流程改进等。</p>
				<p> 任职要求：</p>
				<p> 1、参与过完整的金融产品研发或维护过程者为佳，包括市场调研、竞争对手分析跟踪、产品定位、需求分解、功能规划、产品流程架构、项目管理及执行、产品运营建议等；</p>
				<p> 2、对金融产品有较深刻的理解力,敏锐的直觉和良好的市场分析能力，熟悉银行信贷产品；熟悉金融资产交易所、信托、保险、资管、资产证券化、收益权转让等产品；熟悉互联网金融政策，合规等；</p>
				<p> 3、熟悉互联网金融平台活期产品设计和交易所产品设计优先；</p>
				<p> 4、2-3年金融信贷领域相关工作经验，有知名互联网工作经验者优先；</p>
				<p> 5、优秀的协调组织能力;良好的金融专业背景;较强的数据处理能力和一定的财务分析能力；</p>
				<p> 6、思维敏锐，活跃，有创新能力。好学,具备快速接受新概念，吸收新知识的能力；</p>
				<p>7、本科以上学历，金融、数学或相关专业，硕士优先；</p>
				<p> 8、具有2年以上互联网金融产品开发项目管理的经验的优先。</p>
			</dd>
			<dt>四、java软件工程师</dt>
			<dd>
				<p> 岗位描述：</p>
				<p> 1、负责互联网金融网站，移动端接口服务开发工作；</p>
				<p> 2、协助产品经理进行需求确认，确定技术实现方案；</p>
				<p> 3、制订开发计划和流程，完成编码、测试和交付。</p>
				<p> 任职要求：</p>
				<p> 1、3年以上java web开发经验；</p>
				<p> 2、精通SpringMVC，Structs2，Spring，Hibernate，ibatis等开源项目，熟悉jquery、Javascript、HTML/HTML5等前台UI技术；</p>
				<p> 3、熟悉svn，cvs等版本控制软件；</p>
				<p> 4、熟悉oracle数据库，精通SQL语言，对SQL性能调优有一定经验；</p>
				<p> 5、具有良好的主动沟通、团队协作能力；</p>
				<p> 6、能够承受工作压力，心思缜密，责任心强；</p>
				<p> 7、具有互联网金融项目经验者优先。</p>
			</dd>
			<dt>五、测试工程师</dt>
			<dd>
				<p> 岗位描述：</p>
				<p> 1、编写和更新软件测试设计文档；</p>
				<p> 2、实施软件测试脚本的开发编写；</p>
				<p> 3、协助建立软件测试应用平台；</p>
				<p>4、按照测试规范，负责软件项目测试工作、提交测试报告及整理分析；</p>
				<p> 5、协助开发工程师对所提BUG进行修改和验证，跟踪促进BUG解决。</p>

				<p> 任职要求：</p>
				<p> 1、本科学历，两年及以上相关工作经验，有金融行业软件测试工作经验者优先；</p>
				<p>2、对Whitebox Testing有深刻的理解，能够准确掌握各种手机软件测试的方法；</p>
				<p> 3、熟悉LoaderRunner、Appscan 等开发工具；</p>
				<p> 4、善于学习新的工作方法和测试技巧，能快速掌握测试方法，完成测试任务；</p>
				<p> 5、喜爱软件测试工作，较好的创新能力和团队精神；</p>
				<p> 6、熟悉软件测试流程。</p>
			</dd>
		</dl>
	</div>
</div>