<div class="middle-approve">平台荣誉</div>
<div class="right-line"></div>
<div class="middle-details aboutus">
	<div style="width: 860px;" class="platformhonor">
		<table class="layui-table" style="border-collapse:separate; border-spacing:0px 10px;">
		  <colgroup>
		    <col width="150">
		    <col>
		  </colgroup>
		  <tbody>
		    <tr>
		      <td><img src="../assets/images/aboutus/breakthrough_award.png" alt="" /></td>
		      <td>
		      	<p class="gi-pd-p">2016互联网金融行业总评榜年度成长突破奖</p>
		      	<p>2016年10月28日，每日经济新闻主办的"2016中国互联网金融规范与发展高峰论坛"在深圳落幕。 本次论坛聚焦当前互联网行业的风险防范与创新实践,星之灵以极具品牌影响力的口碑和在互联网 金融行业的创新发展战略,获得"2016互联网金融年度成长突破奖"。</p>
		      </td>
		    </tr>
		    <tr>
		      <td><img src="../assets/images/aboutus/membership_ certificate.png" alt="" /></td>
		      <td>
		      	<p class="gi-pd-p">星灵资产成为上海金融信息行业协会会员单位</p>
		      	<p>2016年6月,星之灵再次传来喜讯:经上海金融信息行业协会审定,上海星之灵资产管理有限公司符合 《上海金融信息行业协会章程》的规定,同意接纳星灵资产成为会员单位。</p>
		      </td>
		    </tr>
		     <tr>
		      <td><img src="../assets/images/aboutus/satisfaction_certificate.png" alt="" /></td>
		      <td>
		      	<p class="gi-pd-p">互联网金融客户满意度指数证书</p>
		      	<p>2016年3月，iTrust互联网信用中心针对星之灵的客户满意度状况进行了尽职调查和测评，星之灵通过优质 的客户服务、完善的网站运营体系和好评如潮的客户口碑荣获了88%（满意）的测评结果。正式颁发了《互联网金融客户满意度指数证书》</p>
		      </td>
		    </tr>
		  </tbody>
		</table> 
	</div>
</div>