<span class="middle-approve">实名认证</span>
<span class="middle-line"></span>
<ul class="middle-ul">
	<li>
		<a></a><span>为什么要进行实名登记?</span>
		<div class="hidden">
			<p>为了提高账户安全等级，保障资金的安全性和合同的有效性，客户需在首次投资前完成实名绑卡登记，星之灵会对所有客户资料严格保密。</p>
		</div>
	</li>
	<li>
		<a></a><span>老一代15位的身份证号可以通过身份验证吗?</span>
		<div class="hidden">
			<p>不可以，目前身份验证须为大陆居民的18位身份证号码，如果您持有的是15位身份证号码，请转换成18位身份证号码后再进行身份验证。</p>
		</div>
	</li>
	<li>
		<a></a><span>我认证成功后,是否可以更改证件信息?</span>
		<div class="hidden">
			<p>为确保您的账户安全，实名认证成功后，无法更改认证信息。</p>
		</div>
	</li>
	<li>
		<a></a><span>使用护照号、军官证号等是否可以认证?</span>
		<div class="hidden">
			<p>目前系统支持的证件类型只有身份证。在星之灵进行认证的会员年龄应满18周岁。 </p>
		</div>
	</li>
</ul>