<span class="middle-approve">转让</span>
<span class="middle-line"></span>
<ul class="middle-ul">
	<li>
		<a></a><span>什么是转让？  </span>
		<div class="hidden">
			<p>转让服务旨在帮助星之灵平台的投资人提高资金的流动性，投资人在需要资金时，可以将其已持有的符合相应条件的定期项目转让给其他投资人，转让成功即可获得流动资金。 </p>

		</div>
	</li>
	<li>
		<a></a><span>可转让资产范围是什么？ </span>
		<div class="hidden">
			<p>投资人持有中的符合相应条件的定期项目，或被受让人投资的转让项目也可再次转让。请参考各项目具体说明。</p>
		</div>
	</li>

	<li>
		<a></a><span> 转让时间范围？ </span>
		<div class="hidden">
			<p>投资人持有中的符合相应条件的定期项目都可转让，转让申请24小时内有效，超时后系统自动撤消转让。转让人也可随时撤消转让申请，并重新发起转让申请。</p>

		</div>
	</li>

	<li>
		<a></a><span> 转让收费吗？ </span>
		<div class="hidden">
			<p>星之灵平台暂时不向转让人和受让人收取任何费用，后续以平台公告为准。</p>

		</div>
	</li>

	<li>
		<a></a><span>可以部分转让定期项目吗？ </span>
		<div class="hidden">
			<p>星之灵平台目前只支持全额转让，后续以平台公告为准。</p>

		</div>
	</li>

	<li>
		<a></a><span> 投资转让项目后什么时候开始计算收益？ </span>
		<div class="hidden">
			<p>投资转让项目后，从受让成功当天即开始计算收益。</p>

		</div>
	</li>

	<li>
		<a></a><span> 转让项目成交后，转让人什么时候收到款项？ </span>
		<div class="hidden">
			<p>转让项目成交后，相应款项实时进入转让人的星之灵平台账户，转让人可以用于投资或提现。</p>

		</div>
	</li>

</ul>