<span class="middle-approve">绑定银行卡</span>
<span class="middle-line"></span>
<ul class="middle-ul">
	<li>
		<a></a><span> 注册后在哪里可以绑定银行卡？</span>
		<div class="hidden">
			<p>完成身份验证后可以到【账户总览】-【基本信息】中进行银行卡绑定，也可在充值/提现页面进行快捷绑定。</p>
		</div>
	</li>
	<li>
		<a></a><span>是否可以绑定信用卡？</span>
		<div class="hidden">
			<p>不可以，仅支持绑定借记卡，无须开通网银。 </p>
		</div>
	</li>
	<li>
		<a></a><span>      是否可以绑定多张银行卡？ </span>
		<div class="hidden">
			<p>不可以，每个账户仅支持绑定一张银行卡。并且每个身份证仅可绑定一个账户。 </p>
		</div>
	</li>
	<li>
		<a></a><span> 是否可以绑定别人的银行卡？ </span>
		<div class="hidden">
			<p>不可以，绑定的银行卡开户人信息必须和您在星之灵平台上验证的身份信息一致。 </p>
		</div>
	</li>
</ul>