<span class="middle-approve">理财师</span>
<span class="middle-line"></span>
<ul class="middle-ul">
	<li>
		<a></a><span>  什么是理财师？  </span>
		<div class="hidden">
			<p>理财师计划是星之灵平台推出的针对老会员邀请新会员注册投资获得奖励的长期活动。</p>

		</div>
	</li>
	<li>
		<a></a><span> 如何邀请好友？</span>
		<div class="hidden">
			<p>（1）点击立即邀请，向好友发送专属邀请链接 </p>
			<p>（2）好友注册时在邀请人一栏填写您的手机号码 </p>
			<p>（3）前往我的账户获取专属二维码，邀请好友扫码参与 </p>
		</div>
	</li>

	<li>
		<a></a><span>  成为理财师的条件是什么？</span>
		<div class="hidden">
			<p>只要您的自有预计待收本金>=5000元，将自动成为理财师。系统将每天计算您的预计待收本金，并自动更新您的理财师等级。 </p>

		</div>
	</li>
	<li>
		<a></a><span> 理财师现金返利什么时候到账？</span>
		<div class="hidden">
			<p>每天23:59前系统将自动计算当天理财师现金返利，并在每月15日前将上月现金返利统一结算给邀请人。</p>

		</div>
	</li>

	<li>
		<a></a><span>   理财师现金返利发放到哪里？ </span>
		<div class="hidden">
			<p>理财师现金返利将发放到邀请人的平台账户，登录星之灵平台，点击“我的账户”，即可查看明细。</p>

		</div>
	</li>
</ul>