<div class="middle-selfservice">自助服务</div>
<div class="middle-line"></div>
<div class="middle-details">
	<ul>
		<li>
			<a href="/account/member/resetloginpassword" target="_blank">
			<img src="../assets/images/helpcenter/loginpass.png"  alt="找回登录密码"/>
			<div>找回登录密码</div>
			</a>
		</li>
		<li>
			<a href="/account/member/resettranspassword" target="_blank">
			<img src="../assets/images/helpcenter/tradpass.png" alt="找回交易密码" />
			<div>找回交易密码</div>
			</a>
		</li>
		<li>
			<a href="/account/member/unbindbankcard" target="_blank">
			<img src="../assets/images/helpcenter/card.png" alt="解绑银行卡" />
			<div>解绑银行卡</div>
			</a>
		</li>
		<li>
			<a href="/account/member/editsinapaypass" target="_blank">
			<img src="../assets/images/helpcenter/modifypass.png" alt="修改支付密码" />
			<div>修改支付密码</div>
			</a>
		</li>
		<li >
			<a href="/account/member/editsinapaypass" target="_blank">
			<img src="../assets/images/helpcenter/backpass.png" alt="找回支付密码" />
			<div>找回支付密码</div>
			</a>
		</li>
		<li>
			<a href="/account/member/changemobile" target="_blank">
			<img src="../assets/images/helpcenter/modifytel.png" alt="修改手机号码" />
			<div>修改手机号码</div>
			</a>
		</li>
		<li>
			<a href="/account/recharge" target="_blank">
			<img src="../assets/images/helpcenter/topup.png" alt="充值" />
			<div>充值</div>
			</a>
		</li>
		<li>
			<a href="/account/withdraw" target="_blank">
			<img src="../assets/images/helpcenter/withdrawal.png" alt="提现" />
			<div>提现</div>
			</a>
		</li>
	</ul>
</div>
<div class="middle-problem">常见问题</div>
<div class="middle-line"></div>
<div class="middle-bottom">
	<ul>
		<li>
			<div>账户管理</div>
			<ol>
				<li><a href="#/helpcenter/templates/register">用户注册</a></li>
				<li><a href="#/helpcenter/templates/approve">实名认证</a></li>
				<li><a href="#/helpcenter/templates/passwordsetting">交易密码</a></li>
				<li><a href="#/helpcenter/templates/passwordsetting">找回密码</a></li>
				<li><a href="#/helpcenter/templates/bindcard">银行卡认证</a></li>
				<li><a href="/wealthlifeplan/main" target="_blank">创富计划</a></li>
			</ol>
		</li>
		<li>
			<div>投资理财</div>
			<ol>
				<li><a href="#/helpcenter/templates/piggybank">存钱罐充值</a></li>
				<li><a href="#/helpcenter/templates/piggybank">存钱罐提现</a></li>
				<li><a href="#/helpcenter/templates/newhandexperience">新手专享</a></li>
				<li><a href="#/helpcenter/templates/investment">投资转让</a></li>
				<li><a href="#/helpcenter/templates/transactionquery">交易查询</a></li>
			</ol>
		</li>
	</ul>
</div>