<span class="middle-approve">投资劵</span>
<span class="middle-line"></span>
<ul class="middle-ul">
	<li>
		<a></a><span> 什么是投资券？</span>
		<div class="hidden">
			<p>投资券是星之灵向会员提供的一种投资抵用券，持有投资券的会员可以在星之灵投资项目时，以1元投资券等值于1元人民币的价值抵用投资金额。 </p>
		</div>
	</li>
	<li>
		<a></a><span> 如何获得投资券？ </span>
		<div class="hidden">
			<p>（1）在完成新会员注册时会获得投资券；</p>
			<p>（2）参加邀请好友活动，或参加星之灵平台不定期推出的各类活动，均可获得投资券；每张投资券均有使用有效期，请及时使用。</p>
		</div>
	</li>
	<li>
		<a></a><span>我获得了投资券，该如何使用？</span>
		<div class="hidden">
			<p>领取投资券成功后，您可至“【我的账户】—【福利中心】”中查看，投资项目时请勾选相应的投资券，每次投标最多可使用一张投资券。 如果发生流标，则您已使用投资券将返回用户个人账户，在使用有效期内仍可使用。根据优惠券的使用条件，部分投资标的不可使投资券。目前投资新手产品项目时，不可使用投资券。</p>
		</div>
	</li>
	<li>
		<a></a><span>投资券的使用规则是什么？ </span>
		<div class="hidden">
			<p>投资券的使用规则如下： </p>
			<p>（1）投资券适用于在星之灵注册的会员为个人在星之灵在线投资时使用，不适用于企业会员； </p>
			<p>（2）投资券不能兑换现金、不能转让； </p>
			<p>（3）每单位投资券仅能使用一次；</p>
			<p>（4）投资券应在载明的有效期内使用，过期作废； </p>
			<p>（5）投资券可用于平台指定的投资项目，新星专享产品、转让区产品无法使用投资券；</p>
			<p>（6）使用投资券抵用投资后，若该投资项目未成立，投资券将回复有效状态，仍能继续使用，但仍受载明的有效期与投资项目范围限制；投资券解释权归星之灵所有。</p>
		</div>
	</li>
</ul>