<span class="middle-approve">投资</span>
<span class="middle-line"></span>
<ul class="middle-ul">
	<li>
		<a></a><span> 我有兴趣，但要如何投资？</span>
		<div class="hidden">
			<p>（1）在星之灵网站上进行注册 </p>
			<p>（2）进行实名认证并绑定银行卡 </p>
			<p>（3）选择投资项目 </p>
			<p>（4）充值并投资成功</p>
		</div>
	</li>
	<li>
		<a></a><span> 在星之灵平台上投资需要费用吗？ </span>
		<div class="hidden">
			<p>目前在星之灵平台上投资产品不会收取任何费用。如有变化，平台将另行通知。</p>

		</div>
	</li>
	<li>
		<a></a><span>为什么我无法进行投资？</span>
		<div class="hidden">
			<p>您无法投资的原因可能有： </p>
			<p>（1）您还未进行实名认证 </p>
			<p>（2）您的账户余额不足 </p>
			<p>（3）有其他投资人和您投资同一笔产品，比您先确定合同</p>
		</div>
	</li>
	<li>
		<a></a><span>投资成功后是否可以撤销？ </span>
		<div class="hidden">
			<p>很抱歉，目前在星之灵上的所有项目在购买成功后均不可以撤销。请您在投资前确定无误后再进行购买。</p>

		</div>
	</li>
	<li>
		<a></a><span>投资记录在哪里可以查看？ </span>
		<div class="hidden">
			<p>登录后可以在【账户总览】-【我的投资】中查到。</p>

		</div>
	</li>
	<li>
		<a></a><span>如何查看投资借款合同？</span>
		<div class="hidden">
			<p>您可通过以下方式查看投资借款合同：</p>
			<p>（1）投资时，在项目详情页可查看借款合同范本。</p>
			<p>（2）投资成功后，会有电子合同生成并生效，可以在【账户总览】-【我的投资】中点击查看。按照《中华人民共和国电子签名法》规定，电子协议同样具有法律效力。</p>

		</div>
	</li>
</ul>