<span class="middle-approve">密码设置</span>
<span class="middle-line"></span>
<ul class="middle-ul">
	<li>
		<a></a><span> 忘记了登录密码怎么办？  </span>
		<div class="hidden">
			<p>可以在首页点击【忘记密码】重置登录密码，或者使用【帮助中心】的自助服务。 </p>

		</div>
	</li>
	<li>
		<a></a><span>忘记了交易密码怎么办？ </span>
		<div class="hidden">
			<p>可以进入【账户总览】-【基本信息】中重置交易密码，或者使用【帮助中心】的自助服务。 </p>
		</div>
	</li>
	<li>
		<a></a><span> 登录密码和交易密码的区别？ </span>
		<div class="hidden">
			<p>登录密码：用于登录星之灵账户的密码</p>
			<p>交易密码：为了保障您的资金安全，在您的理财账户资金有变动时系统会提示您输入交易密码 </p>
		</div>
	</li>
</ul>