<span class="middle-approve">充值</span>
<span class="middle-line"></span>
<ul class="middle-ul">
	<li>
		<a></a><span> 支持哪些充值方式？  </span>
		<div class="hidden">
			<p>平台的充值方式有两种： </p>
			<p>（1）快捷支付充值：通过绑定的银行卡进行快捷支付充值，手机端和电脑端均可操作，快捷支付有充值额度限制，详见支付额度列表；</p>
			<p>（2）网银支付充值：网银转账支付，限在电脑端操作，支付额度由发卡银行规定。</p>
		</div>
	</li>
	<li>
		<a></a><span>星之灵平台充值支持哪些银行的快捷充值？限额分别是多少？ </span>
		<div class="hidden">
			<p>查看新浪帮助中心：<a style="border:0px; color:red;" href="https://pay.sina.com.cn/cashdesk-web/view/helper.html?ft=helper" target="_blank">https://pay.sina.com.cn/cashdesk-web/view/helper.html?ft=helper</a> </p>
		</div>
	</li>
	<li>
		<a></a><span>星之灵平台充值支持哪些银行的网银？限额是多少？ </span>
		<div class="hidden">
			<p>查看新浪帮助中心：<a style="border:0px;color:red;" href="https://pay.sina.com.cn/cashdesk-web/view/helper.html?ft=helper" target="_blank">https://pay.sina.com.cn/cashdesk-web/view/helper.html?ft=helper</a> </p>

		</div>
	</li>
	<li>
		<a></a><span>信用卡可以充值吗？ </span>
		<div class="hidden">
			<p>星之灵平台暂不支持信用卡充值。</p>

		</div>
	</li>

	<li>
		<a></a><span>为什么银行已扣款，但平台账户余额没有增加？ </span>
		<div class="hidden">
			<p>造成此问题的原因可能有：</p>
			<p>（1）由于网络不稳定造成的显示不同步；</p>
			<p>（2）在无提示关闭或交易成功的情况下关闭页面，导致充值资金延迟到账或掉单； </p>
			<p>（3）同一时间使用同一个第三方充值端口的会员较多，第三方支付平台偶有延迟，造成网银显示与平台账户金额不同步。</p>
		</div>
	</li>
	<li>
		<a></a><span>出现“掉单”该如何处理？ </span>
		<div class="hidden">
			<p>当出现无法实时到账时，请耐心等待10分～30分钟，再查看交易记录，或者联系在线客服或致电400-111-0198为您服务。</p>

		</div>
	</li>

</ul>