<span class="middle-approve">提现</span>
<span class="middle-line"></span>
<ul class="middle-ul">
	<li>
		<a></a><span>提现需要注意哪些问题？  </span>
		<div class="hidden">
			<p>您的提现金额将转入您绑定的银行卡，绑定的银行卡可在【账户总览】-【基本信息】中查看。 </p>

		</div>
	</li>
	<li>
		<a></a><span>可以提现到不是本人的银行卡吗？ </span>
		<div class="hidden">
			<p>不可以，且只能提现到本人的银联借记卡内(存折、信用卡均不支持)。</p>
		</div>
	</li>

	<li>
		<a></a><span>单笔提现额度是多少？ </span>
		<div class="hidden">
			<p>个人用户：单笔提现限额5万，单日提现限额50万；</p>
			<p>企业用户：单笔提现限额100万，单日不设限额。</p>
		</div>
	</li>
	<li>
		<a></a><span>如果所绑定的银行卡信息不正确，能否提现成功？ </span>
		<div class="hidden">
			<p>如果您填写的银行、银行预留手机号信息不正确，则该笔提现在提交到银行做处理时，会由于信息校验不正确而提现失败。</p>

		</div>
	</li>
	<li>
		<a></a><span>为什么账户总览资金不能投资也不能提现？ </span>
		<div class="hidden">
			<p>如果您的账户资金不能投资和提现，可能存在以下情况：</p>
			<p>（1）账户资金已在投资申请或提现申请中，故处在冻结状态；</p>
			<p>（2）由于网络问题导致操作延时，请您刷新网页后重新操作； </p>
			<p>（3）由于您的账户存在异常引起您暂时无法投资和提现，请联系在线客服或致电400-111-0198为您服务；</p>
		</div>
	</li>
	<li>
		<a></a><span>提现什么时候到账？ </span>
		<div class="hidden">
			<p>15:00前申请提现，预计T+1日到账；</p>
			<p>15:00后申请提现，预计T+2日到账；</p>
			<p>个人用户提现，T为自然日；企业用户提现，T为工作日；</p>
			<p>实际到账时间以银行为准。</p>
		</div>
	</li>

</ul>