<span class="middle-approve">星尊享</span>
<span class="middle-line"></span>
<ul class="middle-ul">
	<li>
		<a></a><span> 什么是星尊享？</span>
		<div class="hidden">
			<p>星尊享是星灵财富为用户打造的高端理财产品定制服务，50万元起投，您可以提交您的定制需求，我们会安排专人一对一的为您服务。 </p>
		</div>
	</li>
	<li>
		<a></a><span> 投资流程？ </span>
		<div class="hidden">
		<p>（1）投资人在注册页面通过手机号完成注册；</p>
		<p>（2）注册完成后，投资人需要输入真实姓名和身份证号完成实名认证；</p>
		<p>（3）实名认证完成后，用户可进行绑卡操作，完成绑卡后进行充值；</p>
		<p>（4）充值后用户选择产品进行投资；</p>
		<p>（5）产品到期后本金和利息会划至投资人的平台虚拟账户中，投资人可进行提现或者继续投资。</p>
		</div>
	</li>
	<li>
		<a></a><span>充值方式及额度？</span>
		<div class="hidden">
			<p>平台支持快捷充值（无需开通网银）和网银充值（需要开通网银）两种方式。</p>
			<p>若单笔充值金额较大（如超过10万），可在电脑上面登录平台选择网银支付的方式充值，网银支付可支持较大金额的充值，支付额度由发卡行决定。 </p>
		</div>
	</li>
	<li>
		<a></a><span>提现额度及到账时间？ </span>
		<div class="hidden">
		<p>目前平台针对个人投资用户的提现额度为5万/笔，单日累计50万。</p>
		<p>如单笔提现额度超过50万，可将身份证正反面拍照发至fosunling.cs@fosun.com申请开通暂时大额提现功能，审核时效为1-3个工作日，大额提现额度有效期最长为7天。</p>
		<p>提现到账时间：15点前提现的资金第二天到账，15点后提现的资金第三天到账。</p>
		</div>
	</li>
	<li>
		<a></a><span>收费标准？ </span>
		<div class="hidden">
		<p>充值产生的第三方支付通道手续费暂由平台承担，不会向个人投资用户收取；</p>
		<p>提现次数每月超过3次将收取手续费2元/笔。</p>
		</div>
	</li>
</ul>