<!--主体内容-->
<div class="security-container">
	<!--banner-->
	<div class="security-banner"></div>
	<div class="security-content">
		<table>
			<tr>
				<td width="145px"><i class="icon iconfont icon-liuliangfenxi" style="font-size: 120px;left: 0px;"></i></td>
				<td>
					<p class="title">严选准入行业</p>
					<p class="content">我们秉承了复星卓越的投资能力、产业整合能力以及产品设计能力。基于这些能力，我们在地产、养老、医疗、娱乐、时尚等多个领域的进行筛选，为投资人提供丰富、优选和灵活的产品。</p>
				</td>
			</tr>
			<tr>
				<td><i class="icon iconfont icon-fengkongchushen"></i></td>
				<td>
					<p class="title">专业风控团队</p>
					<p class="content">我们的团队成员来自银行、保险、证券、基金等领域，拥有丰富的国内外金融工作经验。星之灵的产品风控体系凝聚了复星多年来开展综合金融的行业经验，从制度、流程、系统等方面全面保护投资者的利益。</p>
				</td>
			</tr>
			<tr>
				<td><i class="icon iconfont icon-touming"></i></td>
				<td>
					<p class="title">穿透底层资产</p>
					<p class="content">我们向投资者充分披露产品的融资信息，会员购买的产品成立起息后，可以在【账户总览】-【我的星理财】中点击查看《债权转让协议》，即该次投资的电子协议，该协议具有法律效力。</p>
				</td>
			</tr>
			<tr>
				<td><i class="icon iconfont icon-baozhang"></i></td>
				<td>
					<p class="title">资金安全保障</p>
					<p class="content">为保障投资者的资金安全，星之灵委托第三方机构对用户账户进行资金管理。此外，我们还采用了业内领先的防火墙架构，完全保障网站系统安全隔离以确保用户账户数据安全。</p>
				</td>
			</tr>
		</table>
	</div>
</div>
<!--主体内容 end-->