<!--主体内容-->
<div class="mobileapp-container">
	<!--banner-->
	<div class="mobileapp-banner">
		<div class="banner-content">
			<p class="app">星灵财富APP</p>
			<p class="valueadd">财富增值，随时随地</p>
			<div class="content-details clearfix">
				<span class="client">
					<a href="https://itunes.apple.com/cn/app/xing-zhi-ling/id1030733258?mt=8" target="_blank"><img src="../../assets/images/mobileapp/iphone.png" /></a>
					<a href="http://zhushou.360.cn/detail/index/soft_id/3128754" target="_blank"><img src="../../assets/images/mobileapp/android.png" /></a>
				</span>
				<span class="weixin">
					<!--<img src="../../assets/images/mobileapp/weixin.png" />
					<p class="fs24 txtc-fff mt30">扫一扫，立刻下载</p>-->
				</span>
			</div>
		</div>
	</div>
</div>
<!--主体内容 end-->